name: Deploy Weather App
on:
  push:
    branches: [ main ]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Inject API Key
        run: |
          sed -i 's/API_KEY/${{ secrets.API_KEY }}/g' script.js

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: . # The folder your index.html is in
          branch: gh-pages # This creates a separate branch for the live site
